<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.chenyuan.sentence">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".app.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".mvp.ui.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".mvp.ui.activity.MainActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".mvp.ui.activity.JujiDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <meta-data
            android:name="com.chenyuan.sentence.common.GlideConfiguration"
            android:value="GlideModule"/>

        <receiver android:name=".receiver.NetWorkReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <meta-data
            android:name="BUG_HD_SDK_GENERAL_KEY"
            android:value="c4eba07f521cf456edd68b9517c24df3"/>

    </application>

</manifest>